/* add your CSS here */
.animal-info{
 font-style:italic; 
}
span{
  font-weight:bold;
}
li{
    list-style:none;
}
#container{
    border:9px solid orange;
  padding:0.5em;
}
#card{
    border:2px solid orange;
  padding:0.5em;
}
